@import "vars.scss";
@import "mixins.scss";

.footer {
  padding: w(64) 0 0;
  background-color: var(--primary, $primary);
  color: var(--white, $white);

  @include mobile {
    padding-top: var(--pad-24);
  }

  &__container {
    display: flex;
    gap: w(120);
    padding-bottom: w(64);

    @include tablet {
      gap: w(64);
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--pad-24);
      padding-bottom: var(--pad-24);
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: w(16);

    &--brand {
      gap: var(--pad-16);
      @include mobile {
        grid-column: span 2;
        align-items: center;
      }
    }

    &:last-child {
      @include mobile {
        grid-column: 1 / -1;
      }
    }
  }

  &__logo img {
    width: w(230);
    height: auto;

    @include mobile {
      width: w(160);
    }
  }

  &__slogan {
    max-width: w(230);
    font-weight: 500;
    font-size: w(16);
    line-height: 1.4em;
    text-align: center;

    @include mobile {
      max-width: unset;
    }
  }

  &__label {
    color: rgba($white, 0.5);
    font-size: w(14);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: w(16);

    a {
      @include transition;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: w(24);
  }

  &__name {
    display: block;
    margin-bottom: w(4);
    font-size: w(12);
  }

  &__value {
    @include transition;
  }

  a.footer__value:hover {
    opacity: 0.6;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--pad-16) var(--pad-24);
    padding: var(--pad-24) 0;
    border-top: 1px solid rgba($white, 1);
    font-size: w(12);
  }

  &__copy {
    @include mobile {
      order: 1;
    }
  }

  &__link {
    @include transition;

    &:hover {
      opacity: 0.5;
    }

    &:last-of-type {
      @include mobile {
        order: 1;
      }
    }
  }
}
